<div class="container" id="query-search">
		<button {{action 'goBack'}} class="btn btn-warning">GoBack</button>
		<h2>Search Results</h2>
		<small>{{model.ajax.resultCount}} Results</small>
		{{#each model.ajax.results as |r|}}
		<div class='well'>
			<img src={{r.artworkUrl60}}>
			<p>Artist: {{r.artistName}}</p>
			<p>Song: {{r.trackName}}
				<button {{action 'artistSong' r.trackId}}class="btn btn-primary btn-xs">View Song Info</button>
			</p>
			<p>Album {{r.collectionName}}
				<button {{action 'artistAlbum' r.collectionId}}class="btn btn-primary btn-xs">View Album</button>
			</p>
			<button class="btn btn-success" type="button" {{action 'artistSongs' r.artistId}}>View Top Songs</button>
			<button class="btn btn-success" type="button" {{action 'artistAlbums' r.artistId}}>View Top Albums</button>
			
		</div>
		{{/each}}
	</div>